# Set the default behavior, in case people don't have core.autocrlf set
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.py text
*.md text
*.txt text
*.cfg text
*.toml text
*.yaml text
*.yml text
*.json text
*.html text
*.css text
*.js text
*.sh text eol=lf
*.bat text eol=crlf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.zip binary
*.7z binary
*.tar binary
*.gz binary
*.tgz binary
*.rar binary
*.war binary
*.ear binary
*.class binary
*.jar binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary